html {
	background-color: #e0c8c2;
	font-family: basic-sans, sans-serif;
}

body {
	background: linear-gradient(60deg, #9ADCFF 20%, #FFF89A 100%);
	max-width: 768px;
	min-height: 768px;
	margin: auto;
	margin-top: 16px;
	padding-bottom: 48px;
	border: 4px solid #d7c2c7;
	border-radius: 24px;
}

.title {
	position: relative;
	padding-top: 16px;
	display: flex;
	justify-content: center;
}

.title img {
	height: 96px;
	margin-top: 32px;
	margin-right: 16px;
	border: 2px solid #8f8fa7;
	border-radius: 72px;
}

.title h1 {
	background: linear-gradient(60deg, #FF8AAE 10%, #FFB2A6 70%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px #8f8fa7;
	paint-order: stroke fill;
	font-family: poppins, sans-serif;
	font-size: 56px;
	text-align: center;
	font-weight: bolder;
}

.inner-things {
	background: linear-gradient(60deg, #d1ecfa 20%, #faf7d1 100%);
	max-width: 640px;
	min-height: 540px;
	margin: auto;
	margin-top: 16px;
	padding: 16px;
	border-radius: 16px;
	opacity: 60%;
}

.inner-things a {
	text-decoration: none;
}

.inner-things a .inner-inner-things {
	text-decoration: none;
	transition: all 300ms ease;
	transition-duration: 300ms;
}

.inner-inner-things:hover {
	background-color: #000000;
	transform: scale(1.25);
	-webkit-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.5);
}

.inner-inner-things:hover p {
	color: #ffffff;
}

.anilogo {
	transition: all 100ms ease;
	transition-duration: 100ms;
}

.inner-inner-things:hover .anilogodef {
	filter: invert(1);
}

.inner-inner-things:hover .twt {
	filter: invert(54%) sepia(15%) saturate(6950%) hue-rotate(176deg) brightness(99%) contrast(92%);
}

.inner-inner-things:hover .spote {
	filter: invert(69%) sepia(38%) saturate(6839%) hue-rotate(100deg) brightness(97%) contrast(77%);
}

.inner-inner-things:hover .yt {
	filter: invert(11%) sepia(99%) saturate(6745%) hue-rotate(359deg) brightness(99%) contrast(113%);
}

.inner-inner-text {
	background: white;
	max-width: 580px;
	min-height: 64px;
	margin: auto;
	margin-top: 16px;
	border-radius: 16px;
	display: flex;
	justify-content: center;
}

.inner-inner-text p {
	color: black;
	margin-top: 22px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.inner-inner-things {
	background: white;
	max-width: 580px;
	min-height: 64px;
	margin: auto;
	margin-top: 16px;
	border-radius: 16px;
	display: flex;
	justify-content: center;
}

.inner-inner-things img {
	height: 32px;
	margin: 16px;
	margin-right: 12px;
}

.inner-inner-things p {
	color: black;
	margin-top: 22px;
	font-size: 18px;
	font-weight: bold;
}