.slider-wrapper {
    font-family: poppins, sans-serif;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.slider-wrapper p{
    font-family: poppins, sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.slider {
    height: 50px;
    padding: 16px;
    padding-top: 0px;
    overflow: hidden;
}

.slider div {
    color: #ffffff;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 0px;
    padding: 0px 15px;
    text-align: center;
    font-weight: 600;
}

.slider-text1 {
    background: #6867AC;
    animation: slide 8s ease infinite reverse;
}

.slider-text2 {
    background: #A267AC;
}

.slider-text3 {
    background: #CE7BB0;
}

.slider-text4 {
    background: #FFBCD1;
}

@keyframes slide {
    0% {margin-top: 0px;}
    5% {margin-top: -300px;}
    25% {margin-top: -300px;}
    30% {margin-top: -200px;}
    50% {margin-top: -200px;}
    55% {margin-top: -100px;}
    75% {margin-top: -100px;}
    80% {margin-top: 0px;}
    100% {margin-top: 0px;}
}