/* Global */

html {
	scroll-behavior: smooth;
	font-family: basic-sans, sans-serif;
}

p {
	font-size: 20px;
}

a {
	text-decoration: none;
}

.vignette {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.9) inset;
}

.toosmall {
	font-size: 24px;
	color: black;
	display: none;
}

@media (max-width: 799px) {
	.toosmall {
		display: flex;
	}
}

.underline1 {
	text-decoration: underline;
	text-decoration-color: #FF4949;
	text-decoration-style: double;
}

/* Sections */

.anigif {
	-webkit-box-shadow: 0px 0px 16px 4px #85586F80;
    -moz-box-shadow: 0px 0px 16px 4px #85586F80;
    box-shadow: 0px 0px 16px 4px #85586F80;
	border: 2px solid #EEEEEE;
}

.section1 {
	text-align: center;
	background-color: #F8ECD1;
	padding: 24px;
}

.downbutton1 {
	background: linear-gradient(80deg, #EB5353 20%, #F9D923 80%);
	max-width: 480px;
	min-height: 64px;
	margin: auto;
	border: 2px solid #DEB6AB;
	border-radius: 32px;
	-webkit-box-shadow: 0px 0px 16px 4px #85586F80;
    -moz-box-shadow: 0px 0px 16px 4px #85586F80;
    box-shadow: 0px 0px 16px 4px #85586F80;
	transition: all 300ms ease;
	transition-duration: 300ms;
}

.downbutton1:hover {
	transform: scale(1.25);
	-webkit-box-shadow: 0px 0px 16px 4px #AC7D8880;
    -moz-box-shadow: 0px 0px 16px 4px #AC7D8880;
    box-shadow: 0px 0px 16px 4px #AC7D8880;
}

.downbutton1 p {
	text-decoration: none;
	color: #EEEEEE;
	font-weight: bold;
	font-size: 26px;
}

@media (orientation: portrait) {
	.section1 {
		display: none;
	}
}

.section2 {
	background: linear-gradient(300deg, #FFE4C0 40%, #FFBBBB 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 48px;
	border: 2px solid #EEEEEE;
}

.s21 img {
	max-height: 256px;
	border: 2px solid #EEE4AB;
	border-radius: 100%;
	box-shadow: 8px 8px 0 0px #525E7580;
}

.s22 {
	margin-left: 48px;
	max-width: 540px;
	padding: 24px;
	background: linear-gradient(300deg, #FBF8F1 40%, #F7ECDE 100%);
	box-shadow: 16px 16px 0 0px #525E7580;
	border: 2px solid #EEE4AB;
	border-radius: 4px;
}

.s22 a {
	color: #541690;
}

.s22 h1 {
	font-size: 36px;
	font-weight: bolder;
}

.section3 {
	background: linear-gradient(120deg, hsl(2, 100%, 85%) 40%, hsl(25, 100%, 85%) 80%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 2px solid #EEEEEE;
}

.s3t h1 {
	font-size: 36px;
	font-weight: bolder;
	margin-bottom: 16px;
}

.s3t p{
	margin-top: 16px;
	margin-bottom: 0;
}

.s3b{
	display: flex;
	min-width: 768px;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.s3b div {
	padding: 0 16px 0 16px;
	flex: 1;
}

.s3b p{
	margin-top: 0;
}

.s3c p {
	margin-top: 0;
}

.section4 {
	background: linear-gradient(120deg, #98DDCA 40%, #D5ECC2 80%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 2px solid #EEEEEE;
}

.s4t h1 {
	font-size: 36px;
	font-weight: bolder;
	margin-bottom: 16px;
}

.s4t p{
	margin-top: 16px;
}